{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="{% static 'css/not_found.css' %}">
</head>
<body>
    <div class="text">
        <h1>404</h1>
        <h2>Uh, Ohh</h2>
        <h3>Sorry we can't find what you are looking for 'cuz it's so dark in here</h3>
    </div>
    <div class="torch"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/not_found.js' %}"></script>
</body>
</html>  